<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta
      name="description"
      content="<%= htmlWebpackPlugin.options.description %>"
    />
    <meta name="author" content="<%= htmlWebpackPlugin.options.author %>" />
    <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>" />
    <meta name="referrer" content="no-referrer" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
  </head>

  <body id="root"></body>
</html>
