.root {
  composes: centeredContent from '../styles/alignment.css';
  composes: bg-grey from '../styles/colors.css';
  composes: _grey from '../styles/colors.css';
  margin-top: 60px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

.link {
  composes: _grey from '../styles/colors.css';
}
