.header {
  background: linear-gradient(45deg, rgb(76, 199, 127), rgb(235, 58, 58));
  height: 100px;
}

.headerIndex {
  height: calc(100vh - 120px);
  max-height: 400px;
  background-image: url('../public/header_photo.jpg');
  background-size: cover;
  background-position-x: center;
  background-position-y: 100%;
}

.avatar {
  composes: centered from '../styles/alignment.css';
  position: relative;
  top: -50px;
  margin-bottom: -50px;
  background-image: url('../public/reflect_cropped.jpg');
  background-size: cover;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 1);
}

.sub {
  composes: centeredContent from '../styles/alignment.css';
  composes: container from './Container.css';
}

.navigationLinks {
  display: inline-block;
  margin-top: 1rem;
  margin-right: 1rem;
}

.name {
  font-size: 1.3rem;
  font-weight: bold;
}
