.header {
  background: linear-gradient(45deg, rgb(22, 52, 87), rgb(17, 105, 54));
  height: 100px;
}

.sub {
  composes: centered from '../styles/alignment.css';
}

.navigationLinks {
  display: inline-block;
  margin-top: 1rem;
  margin-right: 1rem;
}

.name {
  font-size: 1.3rem;
  font-weight: bold;
}
