.title {
	text-align: center;
}

.post {
	composes: reading from '../styles/typography.css';
	margin-bottom: 4rem;
}

.dates {
	opacity: 0.7;
}

.post blockquote {
	font-style: italic;
	border-left: 3px grey solid;
	padding-left: 10px;
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
	margin-left: -10px;
}
